fastapi
uvicorn[standard]

pydantic[email]
email-validator
python-dotenv

pymongo[srv]>=4.3.1

# ✅ USE THIS (NO bcrypt)
passlib[argon2]
argon2-cffi

python-jose

torch
torchvision
Pillow

python-multipart
