fastapi
uvicorn[standard]

# Validation
pydantic[email]
email-validator

# Environment
python-dotenv

# MongoDB Atlas (SRV support REQUIRED)
pymongo[srv]>=4.3.1

# Authentication & Security
passlib[bcrypt]
python-jose

# ML / Image processing
torch
torchvision
Pillow

# File uploads
python-multipart
